<component name="ArtifactManager">
  <artifact type="war" name="springcloudquerystarttwo:war">
    <output-path>$PROJECT_DIR$/springcloudquerystarttwo/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springcloudquerystarttwo</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springcloudquerystarttwo-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springcloudquerystarttwo:war exploded" />
    </root>
  </artifact>
</component>